<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!--蓝牙权限-->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <!-- android 12.0 以上的手机需要这些权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <!-- 6.0以上的手机需要定位权限权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 10.0以上的手机可能需要后台定位权限权限(仅当程序需要在后台进行蓝牙扫描时) -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <!--BLE权限声明-->
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />
    <uses-feature
        android:name="android.bluetooth.le"
        android:required="true" />

    <application>
        <service
            android:name=".services.singleconnect.BluetoothLeSingleConnectService"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name=".services.multiconnect.BluetoothLeMultiConnectService"
            android:enabled="true"
            android:exported="false" />
    </application>
</manifest>